node-red-flow
[{"id":"fe8fd920717db111","type":"trigger","z":"3bb150bd73b14cc6","name":"trigger","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"20","extend":false,"overrideDelay":false,"units":"s","reset":"1","bytopic":"all","topic":"topic","outputs":1,"x":630,"y":400,"wires":[["c5026fc546b62329"]]},{"id":"d260aa2271979f08","type":"trigger","z":"3bb150bd73b14cc6","name":"trigger","op1":"1","op2":"","op1type":"str","op2type":"nul","duration":"20","extend":false,"overrideDelay":false,"units":"s","reset":"1","bytopic":"all","topic":"topic","outputs":1,"x":630,"y":240,"wires":[["17dea17f6d382b22"]]},{"id":"17dea17f6d382b22","type":"delay","z":"3bb150bd73b14cc6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":780,"y":240,"wires":[["8a893ff59302001f"]]},{"id":"29a840decbe98d25","type":"server-state-changed","z":"3bb150bd73b14cc6","name":"Alexa Sensor","server":"962dbf98.0bf1a","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"sensor.alexa_light_sensor","entityIdType":"exact","outputInitially":false,"stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":200,"wires":[["103c9e2e591082be"]]},{"id":"103c9e2e591082be","type":"switch","z":"3bb150bd73b14cc6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0.20","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":200,"wires":[["4342b2e1cebfc967"],["bfda08ed22081b7d"]]},{"id":"4342b2e1cebfc967","type":"api-current-state","z":"3bb150bd73b14cc6","name":"LG LR","server":"962dbf98.0bf1a","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.living_room_lg_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":410,"y":160,"wires":[["396776d9ec3c680d","083fbc1a0bb4537b","fe8fd920717db111"],[]]},{"id":"bfda08ed22081b7d","type":"change","z":"3bb150bd73b14cc6","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":220,"wires":[["d260aa2271979f08","fe8fd920717db111"]]},{"id":"f8ce724f2395d223","type":"api-call-service","z":"3bb150bd73b14cc6","name":"LG Notif - Alexa","server":"962dbf98.0bf1a","version":5,"debugenabled":false,"domain":"notify","service":"living_room_lg_tv","areaId":[],"deviceId":[],"entityId":[],"data":"{ \"message\": \"Alexa is listening...\" }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1120,"y":400,"wires":[[]]},{"id":"c5026fc546b62329","type":"api-current-state","z":"3bb150bd73b14cc6","name":"LG TV LR","server":"962dbf98.0bf1a","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.living_room_lg_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":780,"y":400,"wires":[["6e6792160fea746f"],[]]},{"id":"396776d9ec3c680d","type":"trigger","z":"3bb150bd73b14cc6","name":"","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"15","extend":false,"overrideDelay":false,"units":"s","reset":"1","bytopic":"all","topic":"topic","outputs":1,"x":650,"y":120,"wires":[["5606bac5fa60fa22"]]},{"id":"e8237d4ffd113c8c","type":"trigger","z":"3bb150bd73b14cc6","name":"","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"15","extend":false,"overrideDelay":false,"units":"s","reset":"1","bytopic":"all","topic":"topic","outputs":1,"x":810,"y":180,"wires":[["8a893ff59302001f"]]},{"id":"083fbc1a0bb4537b","type":"delay","z":"3bb150bd73b14cc6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":640,"y":180,"wires":[["e8237d4ffd113c8c"]]},{"id":"6e6792160fea746f","type":"trigger","z":"3bb150bd73b14cc6","name":"","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"10","extend":false,"overrideDelay":false,"units":"s","reset":"1","bytopic":"all","topic":"topic","outputs":1,"x":950,"y":400,"wires":[["f8ce724f2395d223"]]},{"id":"52dfd04cd9cf87ca","type":"http request","z":"3bb150bd73b14cc6","name":"Volume 10","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.0.191:8080/goform/formiPhoneAppDirect.xml?MV10","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1190,"y":160,"wires":[[]]},{"id":"5606bac5fa60fa22","type":"api-current-state","z":"3bb150bd73b14cc6","name":"Denon Volume","server":"962dbf98.0bf1a","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.denon_volume","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1000,"y":120,"wires":[["52dfd04cd9cf87ca","62c682ea27b07766"]]},{"id":"6fb4160b80b34278","type":"http request","z":"3bb150bd73b14cc6","name":"Original volume","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.0.191:8080/goform/formiPhoneAppDirect.xml?MV{{payload}}","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1200,"y":240,"wires":[[]]},{"id":"73ddd039a59436af","type":"ha-sensor","z":"3bb150bd73b14cc6","name":"Alexa Volume","entityConfig":"3da78144170cbea6","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1340,"y":100,"wires":[[]]},{"id":"8a893ff59302001f","type":"api-current-state","z":"3bb150bd73b14cc6","name":"Alexa Volume","server":"962dbf98.0bf1a","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.alexa_volume","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1000,"y":240,"wires":[["6fb4160b80b34278"]]},{"id":"3d7ebc38f719edd5","type":"comment","z":"3bb150bd73b14cc6","name":"Alexa - TV Ducking","info":"","x":130,"y":120,"wires":[]},{"id":"62c682ea27b07766","type":"switch","z":"3bb150bd73b14cc6","name":"State","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"11","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1170,"y":100,"wires":[["73ddd039a59436af"],[]]},{"id":"ea940817319245e6","type":"comment","z":"3bb150bd73b14cc6","name":"LG TV Notification - Alexa is listening...","info":"","x":730,"y":340,"wires":[]},{"id":"962dbf98.0bf1a","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"3da78144170cbea6","type":"ha-entity-config","server":"962dbf98.0bf1a","deviceConfig":"","name":"Alexa Volume","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Alexa Volume"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false}]
